In [4]:
import pandas_datareader.data as web
import pandas as pd

In [8]:
all_data = {ticker:web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [5]:
price = pd.DataFrame({ticker:data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker:data['Volume']
                      for ticker, data in all_data.items()})

In [12]:
returns = price.pct_change()

In [14]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2019-07-12  0.007683  0.010620  0.003613  0.000603
2019-07-15  0.009395  0.004063  0.000000  0.004751
2019-07-16 -0.003460  0.001465 -0.013103  0.002817
2019-07-17 -0.005623 -0.003205 -0.005909 -0.006267
2019-07-18  0.007622  0.038163 -0.008513 -0.010445

O metodo corr de Series calcula a correla√ßao entre os valores diferentes de NA. O cov calcula a covariancia.

In [17]:
returns['MSFT'].corr(returns['IBM'])

0.9999999999999999

In [18]:
returns['MSFT'].cov(returns['IBM'])

0.00020837824822964683

In [19]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.379350  0.452811  0.460792
IBM   0.379350  1.000000  0.485278  0.401414
MSFT  0.452811  0.485278  1.000000  0.537812
GOOG  0.460792  0.401414  0.537812  1.000000

In [20]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000265  0.000076  0.000106  0.000116
IBM   0.000076  0.000152  0.000086  0.000076
MSFT  0.000106  0.000086  0.000208  0.000120
GOOG  0.000116  0.000076  0.000120  0.000238

In [21]:
returns.corrwith(returns.IBM)

AAPL    0.379350
IBM     1.000000
MSFT    0.485278
GOOG    0.401414
dtype: float64

In [22]:
returns.corrwith(volume)

AAPL   -0.062843
IBM    -0.155464
MSFT   -0.089678
GOOG   -0.021137
dtype: float64

In [27]:
to_match = pd.Series(['c','a','b','b','c','a'])

In [28]:
to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object